.new-product-container {
    .controls {
        display: flex;
    }
    .category-container {
        flex: 1;
        margin-left: 1em;
        .category {
            width: 100%;
        }
    }
    .description-container {
        flex: 1;
        .description {
            width: 100%;
        }
    }
    .list-price-container {
        flex: 1;
        margin-left: 1em;
        .list-price {
            width: 100%;
        }
    }
    .product-code-container {
        flex: 1;
        .product-code {
            width: 100%;
        }
    }
    .product-name-container {
        flex: 2;
        margin-left: 1em;
        .product-name {
            width: 100%;
        }
    }
    .standar-cost-container {
        flex: 1;
        .standar-cost {
            width: 100%;
        }
    }
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    .expand {
        width: 100%;
        margin: 3em;
    }
}