<div class="margin-bottom">
    <div>
        <span mat-dialog-title class="modal-title" align="center">{{employee.firstName}} {{employee.lastName}}</span>
    </div>

    <mat-divider></mat-divider>

    <mat-dialog-content>
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{FIRST_NAME}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.firstName}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{LAST_NAME}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.lastName}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{EMAIL}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.emailAddress}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{ADDRESS}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.address}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{PHONE_NUMBER}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.mobilePhone}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{COMPANY}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.company}}</label>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label bold">{{JOB_TITLE}}</label>
                <div class="col-sm-9">
                    <label for="staticEmail" class="form-control-plaintext">{{employee.jobTitle}}</label>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>