<div class="card-container">
    <div class="cards" *ngFor="let item of items">
        <mat-card class="card-child-container">
            <mat-card-header>
                <mat-card-title>{{item.productCode}}</mat-card-title>
                <mat-card-subtitle>Price: ${{item.listPrice}}</mat-card-subtitle>
                <mat-card-subtitle>Standard cost: ${{item.standardCost}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="product-name">
                {{item.productName}}
            </mat-card-content>
            <mat-card-actions class="button-container">
                <button mat-stroked-button color="primary" (click)="onEdit(item.id)">EDITAR</button>
                <button mat-stroked-button color="warn" (click)="onDelete(item.id)">ELIMINAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>