/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.x-small-letter {
    font-size: x-small;
}

.employee-modal-dialog {
    width: 50%;
    height: 80%;
}

.bold {
    font-weight: bold;
}